
.custom-toolbar {
    display: flex;
    justify-content: space-between;
}
  .circles-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .circle {
    width: 40px;
    height: 40px;
    background: linear-gradient(to bottom, red 50%, white 50%);
    border: 2px solid black;
    position: relative;
    margin-left: 10px;
    border-radius: 50%;
  
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 2px;
      background-color: black;
    }
  
    .inner-circle {
      width: 10px;
      height: 10px;
      background-color: white;
      border: 2px solid black;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    .pokemon-sprite {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%; 
      height: auto;
      z-index: 1; /
    }
  }
    .title {
        align-self: center;
    }
  
  