<div class="search-controls">
  <input
    matInput
    placeholder="Search by Name..."
    (keyup)="applyFilter($event)"
  >
  <mat-form-field appearance="fill" *ngIf="uniqueTypes.length > 0"> 
    <mat-label>Type</mat-label>
    <mat-select (selectionChange)="applyTypeFilter($event.value)" placeholder="Select">
      <mat-option value="">Seleccione</mat-option>
      <mat-option *ngFor="let type of uniqueTypes" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div class="example-container mat-elevation-z8">

<table mat-table [dataSource]="dataSource" class="pokemon-table" style="width: 100%">
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> Image </th>
    <td mat-cell *matCellDef="let element"> <img [src]="element.image" alt="{{element.name}}"> </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element" [class.captured]="element.isCaptured">
      {{ element.name }}
    </td>
  </ng-container>
  

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{ element.types | pokemonTypeNames }} </td>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"
           (click)="togglePokemon(row)"
           [class.captured]="isCaptured(row)">
  </mat-row>
</table>

</div>
